.ipynb_checkpoints
*.pyc
.DS_Store
*.png
*.Rhistory
*.pdf
*.html
*.xlsx
*.aux
*.dvi
*.bin
*.tex
*.log
*.RData
*.gz
Embed/GloVe-master/corpus.txt
Embed/GloVe-master/text8
Embed/GloVe-master/vocab.txt
Embed/GloVe-master/vectors*.txt
analyses_data/survey_hr_glassdoor_distilbert.csv
identifying_data_overlap.ipynb
diagnosis/identify_irregular_individuals.ipynb
Analysis/logs
Analysis/finetuned_distilbert/*
helper_data/
